<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Campa&ntilde;as" tabIcon="ribbon"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Actividad" tabIcon="walk" ></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Perfil" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Mercado" tabIcon="cart"></ion-tab>
</ion-tabs>
