<ion-header no-border>
  <ion-toolbar>
    <ion-title>&iexcl;Bienvenidos al juego&#33;</ion-title>
  </ion-toolbar>
  <ion-navbar>
    <ion-title>&nbsp;</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	Descripcion: Sprint Planning
  <button ion-button block (click)="openPagePlanning()">Comenzar</button>
</ion-content>
