<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>Time Box</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<form [formGroup]="myForm" (ngSubmit)="saveData()">
    <ion-list>
      <ion-row radio-group formControlName="option">
        <ion-col>
          <ion-item>
<!--             <ion-icon name="quote" item-start></ion-icon> -->
            <ion-label>El tiempo que determine el Equipo</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
          <ion-item>
<!--             <ion-icon name="woman" item-start></ion-icon> -->
            <ion-label>30 minutos</ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>
          <ion-item>
<!--             <ion-icon name="woman" item-start></ion-icon> -->
            <ion-label>1 hora</ion-label>
            <ion-radio value="3"></ion-radio>
          </ion-item>
          <ion-item>
<!--             <ion-icon name="woman" item-start></ion-icon> -->
            <ion-label>15 minutos</ion-label>
            <ion-radio value="4"></ion-radio>
          </ion-item>
          <ion-item>
<!--             <ion-icon name="woman" item-start></ion-icon> -->
            <ion-label>Empieza cuando debe empezar y termina cuando debe terminar</ion-label>
            <ion-radio value="5"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <div padding>
      <button ion-button block type="submit" [disabled]="!myForm.valid">Completar</button>
    </div>
  </form>
</ion-content>

