<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngFor="let item of items">
	 <img src="../../assets/imgs/{{item.img}}"/>
	<ion-card>
	  <ion-card-header>
	   &iexcl;{{ item.title }}&#33;<br>
	  </ion-card-header>
	  <ion-card-content>
			<p>&iexcl;{{ item.subtitle }}</p><br>
			<button ion-button block (click)="openPageInicio()">Cerrar y Continuar</button>
	  </ion-card-content>
	</ion-card>
</ion-content>
