page-campania {
	.card-background-page {
		ion-card {
		  position: relative;
		  text-align: center;
		}
		
		.card-title {
		  position: relative;
		  top: 36%;
		  font-size: 2.0em;
		  width: 100%;
		  font-weight: bold;
		  color: #000000;
		}
		
		.card-subtitle {
		  font-size: 1.0em;
		  position: relative;
		  top: 52%;
		  width: 100%;
		  color: #000000;
		}
	}
}
