<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>Campa&ntilde;as</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<button ion-item *ngFor="let item of items" (click)="openNavDetailsPage(item)" icon-start>
	      	<ion-icon [name]="'logo-' + item.icon" [ngStyle]="{'color': item.color}" item-start></ion-icon>
	      	{{ item.title }}
	    </button>
	</ion-list>
</ion-content>

