<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>&iexcl;Bienvenidos al juego&#33;</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-item>
	    <ion-avatar item-start>
	      <img src="../../assets/icon/icon_daily.png">
	    </ion-avatar>
	    <h2>Daily Meeting</h2>
	    <p>November 5, 1955</p>
	  </ion-item>
	<ion-card>
	  <ion-card-header>
	   Descripcion:
	  </ion-card-header>
	  <ion-card-content>
			<p>evento blabla...</p>
			<button ion-button block (click)="openPageDaily()">Comenzar</button>
	  </ion-card-content>
	</ion-card>
</ion-content>
