<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>&iexcl;Daily Meeting&#33;</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-slides pager= "true">
	  <ion-slide (click)="openPageformDaily01()" style="background-color: #c91f37; color: white">
	  	<h1>Time Box</h1>
	  </ion-slide>
	  <ion-slide style="background-color: #c91f37; color: white">
	  	<h1>Objetivos de la Daily</h1>
	  </ion-slide>
	  <ion-slide style="background-color: #c91f37; color: white">
	  	<h1>Participantes</h1>
	  </ion-slide>
	  <ion-slide style="background-color: #c91f37; color: white">
	  	<h1>Preguntas a Responder?</h1>
	  </ion-slide>
	</ion-slides>
</ion-content>

